<html>

<head>
	<title>Reset Password</title>
</head>

<body>
	<p>
		Your sign-in password of <%= email %> has been reset.
	</p>

	<p>
		Your new password: <%= password %>
	</p>

	<p>
		After sign-in using new password, please change your password again.
	</p>
</body>

</html>