<html>

<head>
	<title>Reset Password Confirmation</title>
</head>

<body>
	<p>
		You want to reset password of member <%= email %>, right?
	</p>

	<p>
		If yes, click to reset password: <a href="<%= url %>"><%= token %></a><br />
		Otherwise, ignore this email.<br />
	</p>
</body>

</html>